td.details-control {
  text-align: center;
  color: forestgreen;
  cursor: pointer;
}

tr.shown td.details-control {
  text-align: center;
  color: red;
}

a.not-link {
  color: inherit;
  text-decoration: none;
}

